@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section {
  background-color: #3b82f6;
  color: white;
}
body {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  font-size: large;
  text-align: center;
  padding: 2rem 0 1rem 0;
  margin: 1rem;
}

.main {
  margin: 2rem;

  text-align: center;
}
.lable {
  margin: 1rem 0 0 0;
}
input {
  width: 50%;
  padding: 1rem;
  margin: 1rem 0;
}
.button {
  width: 20%;
  margin: 1rem 0;
  padding: 0.5rem;

  border-radius: 0.5rem;
}
.button:hover {
  background-color: rgb(185, 197, 238);
  font-weight: 800;
}

.footer {
  text-align: center;
  padding: 1rem 0 2rem;
  margin: 1rem 0 2rem;
}

.social-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.link {
  text-decoration: none;
  font-size: large;
  color: white;
}

.footericon {
  max-width: 35px;
}
